@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }

  h1 {
    @apply text-3xl md:text-6xl font-normal mb-4 text-center;
  }
  h2 {
    @apply text-green-dark font-medium text-base uppercase tracking-wider mb-4;
  }
  h3 {
    @apply text-2xl lg:text-5xl lg:leading-[58px] mb-2 tracking-tight;
  }
  h4 {
    @apply font-semibold text-base tracking-normal;
  }
}

@layer components {
  .custome-container {
    @apply w-5/6 xl:max-w-screen mx-auto;
  }
}
